html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 100%);
}

body {
    background: none;
}

.container-principal {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 3rem
}

/* .lateral-e {
    width: 100px;
    height: 500px;
    background-color: black;
} */